body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form button {
  border-color: red;
}

.delete-form button:hover {
  border-color: gray;
  color: white;
  background-color: red;
}